<html>

<head>
    <link rel="stylesheet" href="/static/css/layout.css">
	{% block head %}
	{% endblock %}
</head>


<body>
    <header class="header">
        <h1 class="logo"><a href="/" style="background-color: transparent !important;">Almabase Assignment</a></h1>
        <ul class="main-nav">
            <li><a href="https://tds-1.github.io/" style="background-color:transparent!important">About Me &nbsp;</a></li>
        </ul>
    </header>
    
    {% block content %}
    {% endblock %}
</body>

</html>